@import 'reset';
@import 'variables';
@import 'typography';
@import 'mixins';



.sec01{
    padding: 80px 0;
    .sec01_container{
        max-width: 1440px;
        margin: 0 auto;
        .sec01_titleForm{
        margin-bottom: 4rem;
        text-align: center;
            .sec01_title{
                color: $gray-900;
                @include text-style('hero-title');
                font-family: $font-family-title;
                margin-bottom: 2rem;
                .sec01_c_title{
                    color: $primary-color-dark;
                }
            }
            .sec01_subtitle{
                @include text-style('subpage-desc');
                color: $gray-500;
            }
        }
        .sec01_img{
            @include mobile{
                padding: 0 24px;
            }
            img{
                border-radius: 42px;
                @include mobile{
                    height: 40vh;
                }
                
            }
        }
    }
}



.sec02_slider{
    position: relative;
    .sec02-overlay{
        display: none;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        text-align: center;
        padding-top: 45%;
        z-index: 9999;
        @include mobile{
            display: block;
        }
        i{
            display: block;
            color: #fff;
            font-size: 5rem;
            animation-duration: 2s;
            animation-iteration-count: 3;
            @include mobile{
                animation: ani-hand 1s 3;
            }
        }
    }
    .slide{
        max-width: 1440px;
        margin: 0 auto;
        padding: 80px 0;
        .sec02_titleForm{
            margin-bottom: 100px;
            @include mobile{
                padding: 0 1.5rem;
                margin-bottom: 35px;
            }
            .sec02_title{
                @include text-style('hero-title');
                margin-bottom: 1.5rem;
                color: $primary-color-dark;
            }
            .btn_form{
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;
                gap: 0 24px;
                .sec02_btn{
                    background-color: $primary-color-dark;
                    padding: 20px 16px;
                    color: $gray-50;
                    border-radius: 12px;
                    text-decoration: none;
                    @include mobile{
                        display: none;
                    }
                }
                .operating_hours{
                    background-color: $gray-100;
                    padding: 20px 16px;
                    color: $gray-500;
                    border-radius: 12px;
                    @include mobile{
                        padding: 16px;
                    }
                }
            }
            .sec02_subtitle{
                width: 70%;
                color: $gray-700;
                @include text-style('image-desc');
                height: 70px;
                @include mobile{
                    width: 100%;
                    height: 58px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    text-align: left;
                    word-wrap: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
        .sec02_img{
            .sec02_img01{
                width: 100%;
                border-radius: 42px;
                @include mobile{
                    border-radius: 0;
                    margin-bottom: 35px;
                    height: 40vh;
                }
            }
            .d-none{
                display: none;
                @include mobile{
                    display: block;
                    background-color: $primary-color-dark;
                    padding: 20px 16px;
                    color: $gray-50;
                    border-radius: 30px;
                    text-decoration: none;
                    margin: 0 24px;
                    text-align: center;
                }
            }
        }
    }  
    
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
        position: absolute;
        z-index: 10;
    }

    .swiper-pagination{
        top: 35%;
        left: 81%;          
        transform: translateX(-48%);
        width: 3%;
        @include mobile{
            display: none;
        }
    }

    .swiper-button-prev {
        top: 36.2%;         
        left: 75%;
        @include mobile{
            display: none;
        }
    }
    .swiper-button-prev::before{
        content: "\e120";
        color: $gray-900;
        opacity: 0.5;
        font-family: phosphor;
        font-size: 30px;
    }
    
    .swiper-button-next {
        top: 36.2%;         
        right: 12.5%;
        @include mobile{
            display: none;
        }
    }
    .swiper-button-next::before{
        content: "\e122";
        color: $gray-900;
        font-family: phosphor;
        font-size: 30px;
    }
}

.sec03{
    
    .sec03_form{
        background: url(../images/public/sec03_img01.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        text-align: center;
        @include mobile{
            height: 35vh;
            padding: 100px 0;
        }
        .sec03_title{
            @include text-style('main-subtitle');
            color: $gray-50;
            margin-bottom: 50px;
            @include mobile{
               margin-bottom: 30px; 
            }
            .d-none{
                display:none;
                @include mobile{
                    display: block;
                    line-height: 164%;
                }
            }
            
        }
        .sec03_btn{
             @include text-style('image-subtitle');
             color: $gray-900;
             background-color: #fff;
             text-decoration: none;
             border-radius: 30px;
             padding: 15px 40px;
        }
        
    }
}

@keyframes ani-hand{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(30px);
    }
}