@import 'reset';
@import 'variables';
@import 'typography';
@import 'mixins';


.sec01{
    padding: 80px 0;
    .sec01_container{
        max-width: 1440px;
        margin: 0 auto;
        .sec01_titleForm{
        margin-bottom: 4rem;
        text-align: center;
            .sec01_title{
                @include text-style('hero-title');
                font-family: $font-family-title;
                margin-bottom: 2rem;
                .sec01_c_title{
                    color: $primary-color-dark;
                }
            }
            .sec01_subtitle p{
                @include text-style('hero-title');
                color: $gray-500;
            }
        }
        .sec01_img{
            // @include mobile{
            //     padding: 0 24px;
            // }
            img{
                border-radius: 42px;
                
            }
        }
    }
}