.hi{
    .title{
        h2{
            font-family: $font-family-title;
            font-weight: 700;
            font-size: 18px;
            text-decoration: none;
            color: $gray-900;
        }
    }
}