// 뼈대가 되는 메인 SCSS 파일
// main.scss

@import 'reset';
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'icons';



// --- Header Section ---

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: $gray-100;
    display: flex;
    align-items: center;
    h2{
        font-family: $font-family-title;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        color: $gray-900;
    }
    .container{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            justify-content: center;
            gap: 46px; 
            li{
                a{
                    font-family: $font-family-title;
                    font-weight: 500;
                    font-size: 18px;
                    text-decoration: none;
                    color: $gray-900;
                }
            }
        }
    }
}

// --- Hero Section ---

.hero{
    background: url('../images/hero/main-hero.png') center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    };
    .scroll-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container{
        height: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: right;
        .hero-content{
            text-align: right;
            h2{
                @include text-style('hero-title');
                color: #fff;
                font-weight: 600;
                margin-bottom: 70px;
                span{
                    color: #F8A87C;
                }
            }
            p{
                @include text-style('subpage-desc');
                color: #F8A87C;
            }
        }
    }
    
}