@charset "UTF-8";
@import url("https://unpkg.com/@phosphor-icons/web@2.1.1/src/css/phosphor.css");
/* A Modern CSS Reset by Andy Bell */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.d-flex {
  display: flex;
}

.p-80 {
  padding: 80px 0;
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.ttf") format("truetype");
}
/**
 * @mixin text-style($style-name)
 * @description
 *   적용할 스타일 이름을 인자로 받아 모바일과 PC 스타일을 한 번에 적용하는 믹스인
 * @param {String} $style-name
 *   $text-styles 맵에 정의된 스타일 이름
 * @example scss - 적용 예
 *   .hero-title {
 *     @include text-style('hero-title');
 *   }
 */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #F1F3F5;
  display: flex;
  align-items: center;
}
.header h2 {
  font-family: "Paperlogy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #1F2124;
}
.header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container ul {
  display: flex;
  justify-content: center;
  gap: 46px;
}
.header .container ul li a {
  font-family: "Paperlogy", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #1F2124;
}

.hero {
  background: url("../images/hero/main-hero.png") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero .container {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container .hero-content {
  text-align: right;
  width: 100%;
}
.hero .container .hero-content h2 {
  font-family: "Paperlogy", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 160%;
  color: #fff;
  font-weight: 600;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .hero .container .hero-content h2 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 160%;
  }
}
.hero .container .hero-content h2 span {
  color: #F8A87C;
}
.hero .container .hero-content p {
  font-family: "Pretendard", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  color: #F8A87C;
}
@media (min-width: 768px) {
  .hero .container .hero-content p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
  }
}
.hero .container .scroll-icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  color: #fff;
}
.hero .container .scroll-icon p {
  margin-bottom: 10px;
}
.hero .container .scroll-icon i {
  font-size: 24px;
  animation: bounce 2s ease-in-out infinite;
}

.about {
  width: 100%;
  height: 100vh;
}
.about .container .top-erea {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.about .container .top-erea .title h2 {
  font-family: "Paperlogy", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #536957;
}
.about .container .top-erea .title p {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #7B848D;
}
.about .container .top-erea .btns {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
}
.about .container .top-erea .btns button {
  border-radius: 12px;
  align-items: center;
  background-color: #F1F3F5;
  border: 1px solid #DFE4EA;
  color: #7B848D;
  font-family: "Pretendard", sans-serif;
  transition: all 0.2s ease-in-out;
  display: flex;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 400;
}
.about .container .top-erea .btns button:hover {
  background-color: #DFE4EA;
  color: #7B848D;
}
.about .container .top-erea .btns button:active {
  background-color: #536957;
  color: #fff;
}
.about .card-item {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/hero/public-hanok-1.png");
  background-size: cover;
  background-position: center;
}
.about .card-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.about .card-item .card-content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}
.about .card-item .card-content .card-text h2 {
  font-family: "Paperlogy", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .about .card-item .card-content .card-text h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: normal;
  }
}
.about .card-item .card-content .card-text p {
  font-family: "Pretendard", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  font-weight: 400;
  color: #7B848D;
}
@media (min-width: 768px) {
  .about .card-item .card-content .card-text p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
  }
}
.about .card-item .card-content .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.about .card-item .card-hashtags {
  display: flex;
  gap: 20px;
}
.about .card-item .card-hashtags .tag {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  color: #1F2124;
  border-radius: 12px;
  padding: 7px 15px 5px 15px;
  text-decoration: none;
}
.about .card-item .card-action-button {
  font-family: "Pretendard", sans-serif;
  background-color: #fff;
  color: #1F2124;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.about .card-item .card-action-button i {
  margin-left: 10px;
  vertical-align: middle;
}
.about .card-item .card-action-button:hover {
  background-color: #536957;
  color: #fff;
}
.about .card-item .card-action-button:active {
  background-color: #536957;
  color: #fff;
}

.dining-cafe {
  width: 100%;
  height: 100vh;
}
.dining-cafe .container .title h2 {
  font-family: "Paperlogy", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #536957;
}
.dining-cafe .container .title p {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #7B848D;
}