@charset "UTF-8";
/* A Modern CSS Reset by Andy Bell */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.d-flex {
  display: flex;
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.ttf") format("truetype");
}
/**
 * @mixin mobile
 * @description
 *   모바일 화면 크기에서만 적용할 스타일을 정의하는 믹스인
 * @example scss - 적용 예
 *   .element {
 *     @include mobile {
 *       color: red;
 *     }
 *   }
 */
/**
 * @mixin pc
 * @description
 *   PC 화면 크기에서만 적용할 스타일을 정의하는 믹스인
 * @example scss - 적용 예
 *   .element {
 *     @include pc {
 *       color: blue;
 *     }
 *   }
 */
/**
 * @mixin text-style($style-name)
 * @description
 *   적용할 스타일 이름을 인자로 받아 모바일과 PC 스타일을 한 번에 적용하는 믹스인
 * @param {String} $style-name
 *   $text-styles 맵에 정의된 스타일 이름
 * @example scss - 적용 예
 *   .hero-title {
 *     @include text-style('hero-title');
 *   }
 */
#programs-kv .container-kv {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
}
#programs-kv .container-kv .kv-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#programs-kv .container-kv .kv-title h2 {
  font-family: "Paperlogy", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 160%;
}
@media (min-width: 768px) {
  #programs-kv .container-kv .kv-title h2 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 160%;
  }
}
#programs-kv .container-kv .kv-title h2 span {
  color: #536957;
}
#programs-kv .container-kv .kv-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
#programs-kv .container-kv .kv-subtitle p {
  font-family: "Pretendard", sans-serif;
  color: #AAB2B9;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 140%;
  font-size: 1.25rem;
  padding-top: 1.625rem;
}
#programs-kv .container-kv .kv-img {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 3.8rem;
  padding-bottom: 7.5rem;
}
#programs-kv .container-kv .kv-img img {
  border-radius: 42px;
  width: 100%;
  height: 484px;
}

#sec01 .container-sec01 {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
#sec01 .container-sec01 .sec01-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec01 .container-sec01 .sec01-title h2 {
  font-family: "Paperlogy", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: normal;
  color: #536957;
}
@media (min-width: 768px) {
  #sec01 .container-sec01 .sec01-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
  }
}
#sec01 .container-sec01 .galleries-content-grid {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-image {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-image .image-1 {
  border-radius: 30px;
  position: relative;
  transition: 1s ease-in-out;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-image .image-2 {
  border-radius: 30px;
  position: absolute;
  transition: 1s ease-in-out;
  opacity: 0;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-image:hover .image-1 {
  opacity: 0;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-image:hover .image-2 {
  opacity: 100%;
}
#sec01 .container-sec01 .galleries-content-grid i {
  position: absolute;
  right: 8.5%;
  bottom: 13%;
  font-size: 2.5rem;
  color: #fff;
  z-index: 999;
}
#sec01 .container-sec01 .galleries-content-grid .map-icon {
  position: absolute;
  right: 4.8%;
  bottom: 9%;
  padding: 2rem;
  border: 1px solid #fff;
  border-radius: 999px;
  background: #fff;
  opacity: 30%;
  cursor: pointer;
}
#sec01 .container-sec01 .galleries-content-grid .map-icon:hover {
  background: #000;
  opacity: 100%;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-description {
  padding-top: 1.5rem;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-description h2 {
  font-size: 1.375rem;
  color: #1F2124;
  font-family: "Paperlogy", sans-serif;
  padding-bottom: 0.75rem;
}
#sec01 .container-sec01 .galleries-content-grid .gallery-description p {
  font-size: 1rem;
  color: #7B848D;
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
  line-height: 160%;
}

#sec02 .container-sec02 {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
#sec02 .container-sec02 .sec02-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec02 .container-sec02 .sec02-title h2 {
  font-family: "Paperlogy", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: normal;
  color: #536957;
}
@media (min-width: 768px) {
  #sec02 .container-sec02 .sec02-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
  }
}
#sec02 .container-sec02 .events-content-grid {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
#sec02 .container-sec02 .events-content-grid .event-image {
  position: relative;
}
#sec02 .container-sec02 .events-content-grid .event-image img {
  border-radius: 30px;
}
#sec02 .container-sec02 .events-content-grid i {
  position: absolute;
  right: 6.6%;
  bottom: 12.5%;
  font-size: 2.5rem;
  color: #fff;
  z-index: 999;
}
#sec02 .container-sec02 .events-content-grid .map-icon {
  position: absolute;
  right: 4.8%;
  bottom: 9%;
  padding: 2rem;
  border: 1px solid #fff;
  border-radius: 999px;
  background: #fff;
  opacity: 30%;
  cursor: pointer;
}
#sec02 .container-sec02 .events-content-grid .map-icon:hover {
  background: #000;
  opacity: 100%;
}
#sec02 .container-sec02 .events-content-grid .event-description {
  padding-top: 1.5rem;
}
#sec02 .container-sec02 .events-content-grid .event-description h2 {
  font-size: 1.375rem;
  color: #1F2124;
  font-family: "Paperlogy", sans-serif;
  padding-bottom: 0.75rem;
}
#sec02 .container-sec02 .events-content-grid .event-description p {
  font-size: 1rem;
  color: #7B848D;
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
  line-height: 150%;
}

@media (max-width: 1440px) {
  #sec01 .container-sec01 {
    width: 100%;
    max-width: 1100px;
  }
  #sec01 .container-sec01 .galleries-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #sec01 .container-sec01 .galleries-content-grid i {
    right: 7.1%;
    bottom: 12.6%;
  }
  #sec02 .container-sec02 {
    width: 100%;
    max-width: 1100px;
  }
  #sec02 .container-sec02 .events-content-grid i {
    right: 7.1%;
    bottom: 14%;
  }
}
@media (max-width: 768px) {
  #programs-kv .kv-subtitle p {
    font-size: 1rem !important;
  }
  #programs-kv .kv-img {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 80px !important;
  }
  #sec01 .container-sec01 {
    width: 100%;
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #sec01 .container-sec01 .galleries-content-grid {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    grid-template-columns: 1fr !important;
    gap: 2rem;
  }
  #sec01 .container-sec01 .galleries-content-grid .gallery-image img {
    width: 100% !important;
    height: 350px;
  }
  #sec01 .container-sec01 .galleries-content-grid .gallery-image i {
    right: 6.5%;
    bottom: 11.5%;
  }
  #sec01 .container-sec01 .galleries-content-grid .gallery-description h2 {
    font-size: 1.25rem;
  }
  #sec02 .container-sec02 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #sec02 .container-sec02 .events-content-grid {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    grid-template-columns: 1fr !important;
    gap: 2rem;
  }
  #sec02 .container-sec02 .events-content-grid .event-description h2 {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 480px) {
  #sec01 .container-sec01 .galleries-content-grid i {
    right: 7.5%;
    bottom: 12.5%;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #F1F3F5;
  display: flex;
  align-items: center;
}
.header h2 {
  font-family: "Paperlogy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #1F2124;
}
.header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container ul {
  display: flex;
  justify-content: center;
  gap: 46px;
}
.header .container ul li a {
  font-family: "Paperlogy", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #1F2124;
}

.hero {
  background: url("../images/hero/main-hero.png") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero .container {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container .hero-content {
  text-align: right;
  width: 100%;
}
.hero .container .hero-content h2 {
  font-family: "Paperlogy", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 160%;
  color: #fff;
  font-weight: 600;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .hero .container .hero-content h2 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 160%;
  }
}
.hero .container .hero-content h2 span {
  color: #F8A87C;
}
.hero .container .hero-content p {
  font-family: "Pretendard", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  color: #F8A87C;
}
@media (min-width: 768px) {
  .hero .container .hero-content p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
  }
}
@media (max-width: 767px) {
  .hero .container .hero-content h2 {
    color: red;
  }
  .hero .container .hero-content p {
    color: red;
  }
}
.hero .container .scroll-icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  color: #fff;
}
.hero .container .scroll-icon p {
  margin-bottom: 10px;
}
.hero .container .scroll-icon i {
  font-size: 24px;
  animation: bounce 2s ease-in-out infinite;
}/*# sourceMappingURL=main.css.map */